DATABASE_URL=postgresql://postgres:motdepasse@xxxxx.supabase.co:5432/postgres
SECRET_KEY=une_valeur_secrete_longue_et_aleatoire

MASTERY_STREAK_THRESHOLD=3
LEVEL_COMPLETION_THRESHOLD=0.85

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_address@gmail.com
SMTP_PASSWORD=google_app_password
SMTP_FROM=your_address@gmail.com

OTP_EXPIRY_MINUTES=10
SESSION_EXPIRY_DAYS=7
OTP_RESEND_COOLDOWN_SECONDS=60 # Time in seconds before a user can request a new OTP

ENVIRONMENT=development # will be set to "production" in production
COOKIE_SECURE=false # will be set to "true" in production
COOKIE_SAMESITE=lax

RUSH_SIZE=10 # Number of questions to include in a rush

TEST_DATABASE_URL=postgresql://postgres:ton_mot_de_passe@localhost:5432/der-die-das

ALLOWED_ORIGINS_RAW=http://localhost:5173,http://localhost:3000